// Specific CSS for your home-page

.landing {
  width: 100vw;
  height:100vh;
  background-size: cover;
  background-position: center;
}

.go_home {
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    color: rgb(197, 193, 185);
}
