<footer id="contact">
  <div id="footer" class="list-inline"> <!-- call bootstrap doesn't work :(-->
    <p>This is a playground landing ©VeryBoatTrip</p>
    <ul>
      <li><a href="https://www.mektoube.fr/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
      <li><a href="https://ih1.redbubble.net/image.311929924.5825/flat,750x,075,f-pad,750x1000,f8f8f8.u2.jpg"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com/watch?v=cRpdIrq7Rbo"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
      <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGwSVYsMYO67bkGfLALq1Ok8PdAAUL0yTiXnDUwxra1xtltT0b&usqp=CAU"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
