<div class="landing"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dw22pxuaw/image/upload/v1589894114/landing_veryboattrip_ti3wgz.jpg')">
</div>
