@font-face {
  font-family: "pricedown";
  src: url(asset-path('./fonts/pricedown.ttf')) format("truetype");
}

form {
  background-color: white;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 8px 15px #00FFFF, 0 5px 8px #00FFFF;
  margin: auto;
  color: black
}

h1, h2, h3
{
  font-size: 32px;
  text-shadow: 0 8px 15px #ff0dbf, 0 5px 8px #ff0dbf;
  font-family: "pricedown", Arial, Helvetica, sans-serif;
  padding: 32px;
  font-weight: lighter;
  text-align: center;
}

p {
  text-align: center;
}
