.navbar-lewagon {
  justify-content: space-between;
  background:linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
