<div class="container">
  <br>
  <br>
  <div class="row" id="main">
    <div class="col-md-8 well" id="panel">
      <div class="row">
        <div class="col-md-12">


          <form role="form">
            <h2>Edit your Yachts :</h2>
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="yach_name" id="yach_name" class="form-control input-lg" placeholder="Yacht Name" tabindex="1">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Location" tabindex="2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="form-group">
                  <input type="price" name="price" id="price" class="form-control input-lg" placeholder="Price" tabindex="5">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <input type="file" name="yacht_picture" class="form-control" id="yacht_picture" accept="image/*">
              </div>
            </div>
          </form>


          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6"></div>
            <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Save</a></div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
