<div class="container">
  <br>
  <br>
  <div class="row" id="main">
    <div class="col-md-8 well" id="panel">
      <div class="row">
        <div class="col-md-12">


          <form role="form">
            <h2>My boats :</h2>
            <div class="card">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1527431293370-0cd188ca5d15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Boat Name</h5>
                <p class="card-text">Boat Description</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Price + Starts</small>
              </div>
            </div>


            <form role="form">
              <h2>You wants to add a new one ?</h2>

              <div class="row">
                <div class="col-xs-12 col-md-6"></div>
                <div class="btn btn-primary"><%= link_to "Create", new_user_boat_path, method: :get %></div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
